[submodule "public/steal"]
	path = public/steal
	url = git://github.com/jupiterjs/steal.git
[submodule "public/jquery"]
	path = public/jquery
	url = git://github.com/jupiterjs/jquerymx.git
[submodule "public/strophe"]
	path = public/strophe
	url = git://github.com/metajack/strophejs.git
