<div class="window">
	<div class="window-header">Chat window</div>
	<div class="history">
		<ul>
		<%= $.View('//jschat/views/chatui/list',{messages: messages})%>
		</ul>
	</div>
	<div class="message">
	   <form action="" method="post">
	       <textarea name="text">Type your message here</textarea>
	       <input type="submit" />
	   </form>
	</div>
</div>
