<% if (!message.hidden) { %>
	<li class="message <%= message.direction() %>">
	   <div class="from">
	   <% if (message.direction() === 'outgoing') { %>
	       you
	   <% } else { %>
	       <%= message.contact.jid.name %>
	   <% } %>
	   </div>
	   <span><%= message.text %></span>
	</li>
<% } %>