.jschat_chatui {
    font-family: sans, verdana;
    font-size: 16px;
}

.loading {
    margin: auto;
    position: absolute;
    top: 50%;
    width: 200px;
    border: 1px solid #B2B5CB;
    padding: 3px 10px 3px 25px;
    background: url('/jschat/resources/loading.gif') 5px center no-repeat;
}

.chat-window {
    border: 1px solid #B2B5CB;
    width: 300px;
    
    .window-header {
        color: #256F9C;
        text-align: center;
        font-weight: bold;
        padding: 2px 5px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        background: #f2f5f6; /* Old browsers */
		background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
		background: linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
    }
    
    .history {
        overflow-y: scroll;
        overflow-x: none;
        height: 500px;
    }
    
    .history ul,.history ul li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .history ul li {
        padding: 3px 2px;
    }
    
    .history li {
        color: #222;
        .from {
            color: #444;
            font-weight: bold;
            text-shadow: 0 1px 1px #FFFFFF;
        }
    }
    .history li.outgoing {
            background: #cdeb8e; /* Old browsers */
			background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
			background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
    }
    .history li.incoming {
	        background: #8fcbeb; /* Old browsers */
			background: -moz-linear-gradient(top, #8fcbeb 0%, #57a1c9 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fcbeb), color-stop(100%,#57a1c9)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #8fcbeb 0%,#57a1c9 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #8fcbeb 0%,#57a1c9 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, #8fcbeb 0%,#57a1c9 100%); /* IE10+ */
			background: linear-gradient(top, #8fcbeb 0%,#57a1c9 100%); /* W3C */
     }
    
    .message {
        border-top: 1px solid #B2B5CB;
        
        textarea {
            border: 1px solid #B2B5CB;
            width: 248px;
            color: #666;
        }
        
        textarea.focus {
            border: 1px solid #B2B5CB;
            background: #D9EFFF;
            color: #222;
        }
        
        input {
            float: right;
            padding: 20px 10px;
            max-width: 50px;
        }
    }
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}